﻿label {
    display: block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}
br { clear: left; }

.input2{ border:1px solid #C01C22;
	background: #ffc;
	font-family:"cursive",Georgia;
	font-size: 16px;}

.submit{ background-color: #ccc;
    -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
	font-size: 20px;
    text-decoration: none;
    cursor: pointer;
     border:none;
}

.submit:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
    
}

