.scroll-outer {
position: relative;
overflow: hidden;
}
.scroll-outer .scroll-inner {
position: absolute;
top: 0px;
left: 0px;
overflow: hidden;
}
.scroll-outer .scrollbar {
display: none;
position: absolute;
height: 50px;
width: 5px;
top: 0px;
right: 0px;
opacity: 0.7;
margin-left: 5px;
background: #BDAEAE;
border: 1px solid #E0E6E8;
border-radius: 6px;
}
